<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785123642817-r2cvt3j7oma1ri9omc9sarrsdp8gqhqq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785123642817-r2cvt3j7oma1ri9omc9sarrsdp8gqhqq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785123642817-23i1eugjh0ni0rqr22cho9h5h28jcd7t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzH4cSCMzVzqtsbG6mzEfBN2EXZcS8lJY</string>
	<key>GCM_SENDER_ID</key>
	<string>785123642817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guessWordGame</string>
	<key>PROJECT_ID</key>
	<string>demoweek2</string>
	<key>STORAGE_BUCKET</key>
	<string>demoweek2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785123642817:ios:97346355c430154665b340</string>
	<key>DATABASE_URL</key>
	<string>https://demoweek2.firebaseio.com</string>
</dict>
</plist>